<<<<<<< HEAD
<footer>
    <p>Copyright  &copy; 2021 Dharani&Karat&Unnati</p>
  </footer>
=======
<footer class="w3-container  w3-black">
  <p class="copyright">Copyright  &copy; 2021 DHARANI&UNNATI&KARAT</p>
</footer>
>>>>>>> e87ffcf6d7dc6fe91a7a0ef0ab65b151bfa71f45
