<!-- Navigation bar with social media icons -->
<nav class="w3-bar w3-black w3-hide-small">
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-facebook-official"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-instagram"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-snapchat"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-flickr"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-twitter"></i></a>
  <a href="#" class="w3-bar-item w3-button"><i class="fa fa-linkedin"></i></a>
  
  
  <% if(typeof userId == "undefined" || userId == "") { %>
    <a href="/login" class="w3-bar-item w3-button w3-right" title="Log in"><i class="fas fa-user-alt"></i></a>
  <% }else{ %>
    <a href="/logout" class="w3-bar-item w3-button w3-right" title="Log out"><i class="fa fa-sign-out"></i></a>
  <% } %>
  <a href="/search" class="w3-bar-item w3-button w3-right" title="Search Movies"><i class="fa fa-search"></i></a>
  <% if(typeof userId != 'undefined' && userId != "") { %>
    <span class="w3-bar-item w3-right">Hi, <%= firstname %></a>
  <% } %>
</nav>