<!DOCTYPE html>
<html lang="en" style="height: 100%;">
  <%- include('../partials/head') %>

<body>
  <section class="login-box">
    <ul class="error-box">
      <% if (errors && errors.length > 0){ %>
        <% for (let i = 0; i < errors.length; i++){ %>
          <li class="error">** <%= errors[i] %> **</li>
        <% } %>
      <% } %>
    </ul>
    <form method="POST" action="/login">
      <h1 class="w3-xxxlarge"><b><a href="/">PROJECT 5</a></b></h1>
      <div><i class='fas fa-user-alt'></i><input class="login-input" type="text" id="email" name="email"></div>
      <div><i class='fas fa-lock'></i><input class="login-input" type="password" id="password" name="password"></div>
      <button class="btn btn-login" type="submit">Log in</button>
      <p class="signup"><a href="/users/new">or, sign up</a></p>
    </form>
  </section>
</body>
</html>