<!DOCTYPE html>
<html lang="en" style="height: 100%;">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Register</title>
</head>
<body>
  <!--ERROR-->
  <section>
    <% if (errors && errors.length > 0){ %>
      <% for (let i = 0; i < errors.length; i++){ %>
        <p><%= errors[i] %> </p>
      <% } %>
    <% } %>
    <form method="POST" action="/users/new" novalidate>

      <div>
        <label for="fname">First name</label>
        <input id="fname" type="text" name="firstname" required>
      </div>

      <div>
        <label for="lname">Last name</label> 
        <input id="lname" type="text" name="lastname" required>
      </div>

      <div>
        <label for="email">Email</label>
        <input id="email" type="text" name="email" required>
      </div>

      <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" required>
      </div>
      
      <div>
        <label for="confirmPassword">Confirm password</label>
        <input id="confirmPassword" type="password" name="confirmPassword" required>
      </div>

      <button type ="submit">Sign Up</button>
     
      <p>Already have an account? <a href ="/login">Log In</a></p>

    </form>
  </section>  
</body>
</html>