<!DOCTYPE html>
<html lang="en" style="height: 100%;">
  
<%- include('../partials/head') %>

<body>
  <!--ERROR-->
  <section class="signup-box">
    
    <form method="POST" action="/users/new" novalidate>
      <h1 class="w3-xxxlarge"><b><a href="/">PROJECT 5</a></b></h1>
      <ul class="error-box">
        <% if (errors && errors.length > 0){ %>
          <% for (let i = 0; i < errors.length; i++){ %>
            <li class="error">** <%= errors[i] %> **</li>
          <% } %>
        <% } %>
      </ul>
      <div>
        <label for="fname">First name</label>
        <input id="fname" type="text" name="firstname" required>
      </div>

      <div>
        <label for="lname">Last name</label> 
        <input id="lname" type="text" name="lastname" required>
      </div>

      <div>
        <label for="email">Email</label>
        <input id="email" type="text" name="email" required>
      </div>

      <div>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" required>
      </div>
      
      <div>
        <label for="confirmPassword">Confirm password</label>
        <input id="confirmPassword" type="password" name="confirmPassword" required>
      </div>

      <button class="btn btn-login" type ="submit">Sign Up</button>
     
      <p class="signup"><a href ="/login">Already have an account? Log In</a></a></p>

    </form>
  </section>  
</body>
</html>