<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body class="w3-light-grey">
  <%- include('../partials/nav') %>
  <%- include('../partials/header') %>

  <main>

    
  </main>
  <%- include('../partials/footer') %>
  


  <!-- Bootstrap JQuery Plugin -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

  <!-- Additional Javascript -->
  <script src="/js/searchMovies.js"></script>
</body>
</html>


